[submodule "browserhistory"]
	path = browserhistory
	url = https://github.com/frendylio/browserhistory
[submodule "islandsnow"]
	path = islandsnow
	url = https://github.com/frendylio/islandsnow
[submodule "digits"]
	path = digits
	url = https://github.com/frendylio/digits
